body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0 5px;
}

ul li a {
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  perspective: 1000px;
}

ul li a .fa {
  color: #262626;
  transition: 0.5s;
}

ul li a span {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}

/* Hover Effect */
ul li a:hover .fa {
  transform: rotateX(90deg) translateY(-20px);
  opacity: 0;
}

ul li a:hover span {
  opacity: 1;
  transform: translateY(0);
}

/* Individual Colors */
ul li:nth-child(1) a { background: #3b5999; }
ul li:nth-child(2) a { background: #55acee; }
ul li:nth-child(3) a { background: #dd4b39; }
ul li:nth-child(4) a { background: #e4405f; }

ul li a:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  transform: translateY(-10px);
}
